[submodule "CoinUtils"]
	path = CoinUtils
	url = https://github.com/coin-or/CoinUtils.git
	branch = next
[submodule "Osi"]
	path = Osi
	url = https://github.com/coin-or/Osi.git
	branch = next
[submodule "Clp"]
	path = Clp
	url = https://github.com/coin-or/Clp.git
	branch = next
[submodule "Cgl"]
	path = Cgl
	url = https://github.com/coin-or/Cgl.git
	branch = next
[submodule "Cbc"]
	path = Cbc
	url = https://github.com/coin-or/Cbc.git
	branch = next
